# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=maracumango
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# Servidor
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=maracumango_secret_2025_cambiame

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:3000
